@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.title {
  font-size: 20px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.mobile-menu {
  display: none;
}

input {
  display: none;
}

/* Header */


/* Banner */
.welcome {
  background-color: lightblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.welcome h2 {
  font-size: 40px;
}
/* Banner */


/* Top Content */
.top-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows:repeat(auto, 50px);
  grid-gap: 20px;
}

.top-box {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
}

.top-box img {
  width: 80px;
}

.top-box p {
  margin: 10px;
}
/* Top Content */

/* Bottom Content */
.bottom-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
  grid-template-rows:repeat(auto, 100px);
  grid-gap: 20px;
  margin: 20px 0;
}

.bottom-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
}

.bottom-box img {
  width: 100%;
}

.img_overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: rgba(255, 255, 255, 0.45);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img_star {
  position: absolute;
  width: 10%;
  height: 15%;
  right: 5px;
  top: 5px;
}
/* Bottom Content */



@media (min-width: 601px) and (max-width: 1200px) {
  .bottom-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 00px 0;
  }

  .bottom-box {
    align-items: center;
  }

  .bottom-box img {
    object-fit: cover;
  }

  .img_overlay {
    height: 20%;
  }

  .top-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 20px 0;
  }

  .top-content .top-box:nth-of-type(3){
    grid-column: span 2;
  }

}

@media (max-width: 600px) {
  .top-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 20px 0;
  }

  .bottom-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 20px 0;
  }

  .mobile-menu {
    display: block;
  }

  .menu {
    display: none;
  }

  .img_overlay {
    height: 15%;
  }

  .bottom-box img {
    width: 100%;
    height: 100%;
  }

  .ham {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .ham-origin {
    width: 30px;
    height: 20px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
  }
  
  .ham-bar {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .ham-bar--top {
    top: 0;
  }
  
  .ham-bar--middle {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .ham-bar--bottom {
    bottom: 0;
  }
  
  #nav-toggle:checked ~ .ham .ham-bar--top {
    transform: translateY(8px) rotate(45deg);
  }
  
  #nav-toggle:checked ~ .ham .ham-bar--middle {
    opacity: 0;
  }
  
  #nav-toggle:checked ~ .ham .ham-bar--bottom {
    transform: translateY(-8px) rotate(-45deg);
  }

  .mobile-menu {
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    padding: 30px;
    background: rgba(0, 0, 0, .5);
    transition: top .5s;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: center;
    text-align: center;
    z-index: 99;
  }
  
  .mobile-menu li {
    margin-top: 10px;
    text-align: center;
  }
  
  .mobile-menu li a{
    padding: .5rem 1rem;
  }

  .mobile-menu li:first-child {
    margin-top: 50px;
  }
  
  #close-menu {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  #nav-toggle:checked ~ .mobile-menu {
    top: 0;
  }



}